HUGGINGFACEHUB_API_TOKEN=your_huggingface_api_token_here

GOOGLE_API_KEY=your_google_api_key_here

POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=your_database_name

TOKEN=your_application_token_here
JWT_SECRET_KEY=your_jwt_secret_key_here

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@example.com
SMTP_PASSWORD=your_email_password_here
SMTP_FROM=your_email@example.com
